/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# test fixtures
test/fixtures/bundler/.bundle/
test/fixtures/bundler/vendor/
test/fixtures/bundler/Gemfile.lock

test/fixtures/bower/bower_components

test/fixtures/npm/node_modules
test/fixtures/npm/package-lock.json

test/fixtures/go/src/*
test/fixtures/go/pkg
!test/fixtures/go/src/test
!test/fixtures/go/src/modules_test

test/fixtures/cabal/*
!test/fixtures/cabal/app*

test/fixtures/git_submodule/*
!test/fixtures/git_submodule/README

test/fixtures/pip/venv

test/fixtures/pipenv/Pipfile.lock

!test/fixtures/migrations/**/*

test/fixtures/composer/**/*
!test/fixtures/composer/composer.json

test/fixtures/mix/_build
test/fixtures/mix/deps
test/fixtures/mix/mix.lock

test/fixtures/yarn/*
!test/fixtures/yarn/package.json

vendor/licenses
.licenses
*.gem
vendor/gems
.byebug_history

bin/
